@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#page1 {
  height: 100vh;
  width: 100vw;
  background-color: #efeae3;
  position: relative;
  padding: 0 2vw;
}

nav {
  padding: 2vw 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav2 {
  display: flex;
  align-items: center;
  gap: 1vw;
}

#nav2 h4 {
  position: relative;
  border: 1px solid #8a8a8a89;
  border-radius: 50px;
  font-weight: 500;
  font-size: 18px;
  padding: 10px 20px;
  /* transition: all ease 0.4s; */
  overflow: hidden;
}

#nav2 h4 a {
  text-decoration: none;
  color: #000000bb;
  position: relative;
  z-index: 10;
}

#nav2 h4:hover a {
  color: white;
}

#nav2 h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}

#nav2 h4:hover::after {
  content: "";
  bottom: 0;
  border-radius: 0;
}

.center {
  height: 65vh;
  width: 100%;
  background-color: orange;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #0000003c;
}

.left h4 {
  width: 28vw;
  font-size: 1.7vw;
  line-height: 2vw;
}

.right {
}
