@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#page1 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  position: relative;
  padding: 0 2vw;
}

nav {
  padding: 2vw 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav2 {
  display: flex;
  align-items: center;
  gap: 1vw;
}

#nav2 h4 {
  position: relative;
  border: 1px solid #8a8a8a89;
  border-radius: 50px;
  font-weight: 500;
  font-size: 18px;
  padding: 10px 20px;
  /* transition: all ease 0.4s; */
  overflow: hidden;
}

#nav2 h4 a {
  text-decoration: none;
  color: #000000bb;
  position: relative;
  z-index: 10;
}

#nav2 h4:hover a {
  color: white;
}

#nav2 h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}

#nav2 h4:hover::after {
  content: "";
  bottom: 0;
  border-radius: 0;
}

.center {
  height: 65vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #0000003c;
  padding: 2vw;
}

.left h4 {
  width: 28vw;
  font-size: 1.7vw;
  line-height: 2vw;
}

.right h1 {
  font-size: 9vw;
  line-height: 7vw;
  text-align: right;
}

#page1 video {
  width: 100%;
  margin-top: 4vw;
  border-radius: 30px;
  position: relative;
}

#heroshape {
  position: absolute;
  height: 30vw;
  width: 45vw;
  right: 0;
  top: 72vh;
}

#hero1 {
  height: 100%;
  width: 100%;
  background-color: #fe320a;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  filter: blur(20px);
  position: absolute;
}
#hero2 {
  height: 30vw;
  width: 30vw;
  background-color: #fe320a;
  border-radius: 50%;
  filter: blur(20px);
  position: absolute;
  animation-name: anime2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
#hero3 {
  height: 30vw;
  width: 30vw;
  background-color: #fe320a;
  border-radius: 50%;
  filter: blur(20px);
  position: absolute;
  animation-name: anime1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes anime1 {
  from {
    transform: translate(55%, -3%);
  }
  to {
    transform: translate(0%, 10%);
  }
}

@keyframes anime2 {
  from {
    transform: translate(5%, -5%);
  }
  to {
    transform: translate(-20%, 20%);
  }
}

#page2 {
  min-height: 100vh;
  width: 100%;
  padding-top: 8vw;
  background-color: #efeae3;
}

#movingtext {
  white-space: nowrap;
  overflow-x: auto;
}

#movingtext::-webkit-scrollbar {
  display: none;
}

.con {
  display: inline-block;
  animation-name: moving;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

#movingtext h1 {
  font-size: 9vw;
  display: inline-block;
}

.gola {
  background-color: red;
  margin: 1vw 2vw;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
}

@keyframes moving {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
